@charset "UTF-8";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

body,
input,
textarea,
select,
button,
table {
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
        helvetica, "Apple SD Gothic Neo", sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;
}

img,
fieldset {
    border: 0;
}

ul,
ol {
    list-style: none;
}

em,
address {
    font-style: normal;
}

input,
select {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
}

hr,
legend,
.blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

caption {
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}
